nav{
    background: darkblue;
    margin-bottom: 5em;
    padding: 1em;
    color: white;
}

    nav a{
        color: white;
    }

    nav a:hover{
        color: #ccc;
    }

.nav-item{
    margin-bottom: 0;
    margin-right: 1em;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6,
nav a{
    margin-bottom: 0
}