.nav-pills{
    font-size: 11px;
    margin: 0 0 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-pills .nav-item{
    flex-grow: 1;
    margin: 0 0.5em;
}

.nav-pills .nav-link{
    padding: 5px 8px;
}

.nav-link.active{
    background-color: #aaaaaa !important;
}

.nav-link.active:hover{
    background-color: #888 !important;
}

.item-image{
    padding: 0 0 2em 0;
    overflow-x: hidden;
}

img{
    border-radius: 0.5em 0.5em 0 0;
}

.container-padded{
    padding: 0 1em;
}