.nav-pills{
    font-size: 11px;
    margin: 0 0 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-pills .nav-item{
    flex-grow: 1;
    margin: 0 0.5em;
}

.nav-pills .nav-link{
    padding: 5px 8px;
}

.nav-link.active{
    background-color: #aaaaaa !important;
}

.nav-link.active:hover{
    background-color: #3480eb !important;
}

.item{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4em 1em;
    font-size: 12pt;
    border: thin solid #aaa;
    border-radius: 0.5em;
    max-width: 30%;
    margin: 1em;
}

.item-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3em 1em;
}

.item-image{
    padding: 0 0 2em 0;
    overflow-x: hidden;
    position: relative;
}

.item-image img{
    border-radius: 0.5em 0.5em 0 0;
}

.container-padded{
    padding: 0 1em;
}

.svg-inline--fa{
    margin-bottom: 0.4em;
}

p .svg-inline--fa{
    margin-bottom: 0;
    margin-right: 0.4em;
}