img.featured{
    border-radius: 0;
    border: thin solid grey;
    margin: 2em 0;
}

.sidebar{
    display: block;
    justify-content: start;
    align-items: start;
    min-width: 35%;
    padding-left: 2em;
    height: 100%;
}

.nav-pills.left-align{
    justify-content: start;
    margin-top: 2em;
}

.nav-item{
    flex-grow: 0 !important;
}

.nav-item:first-of-type{
    margin-left: 0;
}

.content-container{
    margin-bottom: 5em;
    display: flex;
    justify-content: start;
    align-items: start;
}

.content{
    padding-right: 1em;
    border-right: thin solid #aaa
}

svg{
    display: inline;
    margin-right: 1em;
}

